<?xml version="1.0" encoding="UTF-8"?>
<!-- Created with TexturePacker http://texturepacker.com-->
<!-- $TexturePacker:SmartUpdate:9184faa02ee514b0b10fdde0fa9aa85c$ -->
<TextureAtlas imagePath="Menu.png">
    <SubTexture name="Text-BonusTimePlus" x="578" y="1980" width="372" height="63" frameX="0" frameY="0" frameWidth="376" frameHeight="63"/>
    <SubTexture name="Text-Boost" x="578" y="1824" width="431" height="86"/>
    <SubTexture name="Text-Brake" x="880" y="1722" width="405" height="66"/>
    <SubTexture name="Text-ChainTimePlus" x="578" y="1912" width="401" height="66"/>
    <SubTexture name="Text-ExtraEgg" x="1364" y="1173" width="361" height="50" frameX="0" frameY="0" frameWidth="363" frameHeight="50"/>
    <SubTexture name="abbca" x="721" y="675" width="78" height="12" frameX="-4" frameY="-67" frameWidth="88" frameHeight="88"/>
    <SubTexture name="abcb" x="1959" y="1189" width="66" height="12" frameX="-11" frameY="-67" frameWidth="88" frameHeight="88"/>
    <SubTexture name="acba" x="1959" y="1175" width="66" height="12" frameX="-11" frameY="-67" frameWidth="88" frameHeight="88"/>
    <SubTexture name="arcade-background_iphone4" x="2" y="2" width="960" height="640"/>
    <SubTexture name="bcaac" x="641" y="675" width="78" height="12" frameX="-4" frameY="-67" frameWidth="88" frameHeight="88"/>
    <SubTexture name="bccb" x="1959" y="1161" width="66" height="12" frameX="-11" frameY="-67" frameWidth="88" frameHeight="88"/>
    <SubTexture name="bgm" x="1959" y="1223" width="63" height="18"/>
    <SubTexture name="ccbba" x="1819" y="1119" width="78" height="12" frameX="-4" frameY="-67" frameWidth="88" frameHeight="88"/>
    <SubTexture name="combo-boost" x="1819" y="1024" width="93" height="93"/>
    <SubTexture name="combo-brake" x="1914" y="956" width="93" height="93"/>
    <SubTexture name="combo-chaintime" x="1819" y="929" width="93" height="93"/>
    <SubTexture name="combo-gold" x="1914" y="861" width="93" height="93"/>
    <SubTexture name="combo-leveluptime" x="1819" y="834" width="93" height="93"/>
    <SubTexture name="combo-rotteneggs" x="1914" y="766" width="93" height="93"/>
    <SubTexture name="combo-shuffle" x="1819" y="739" width="93" height="93"/>
    <SubTexture name="combo-special" x="1819" y="644" width="93" height="93"/>
    <SubTexture name="combo-speed" x="1926" y="594" width="93" height="93"/>
    <SubTexture name="combo-time" x="1926" y="499" width="93" height="93"/>
    <SubTexture name="combo-xtralife" x="1926" y="404" width="93" height="93"/>
    <SubTexture name="combo-xtraspawn" x="1914" y="1071" width="88" height="88"/>
    <SubTexture name="combo_abbca" x="1926" y="337" width="105" height="65"/>
    <SubTexture name="combo_abcb" x="1926" y="270" width="105" height="65"/>
    <SubTexture name="combo_acba" x="1926" y="203" width="105" height="65"/>
    <SubTexture name="combo_bcaac" x="1926" y="136" width="105" height="65"/>
    <SubTexture name="combo_bccb" x="1926" y="69" width="105" height="65"/>
    <SubTexture name="combo_ccbba" x="1926" y="2" width="105" height="65"/>
    <SubTexture name="controls" x="1914" y="715" width="129" height="18"/>
    <SubTexture name="graphics" x="1914" y="689" width="132" height="24"/>
    <SubTexture name="high" x="1819" y="1153" width="70" height="18"/>
    <SubTexture name="info-arcade" x="2" y="689" width="784" height="524" frameX="-13" frameY="-13" frameWidth="810" frameHeight="550"/>
    <SubTexture name="info-button" x="1891" y="1161" width="66" height="66" frameX="-3" frameY="-2" frameWidth="70" frameHeight="70"/>
    <SubTexture name="info-gold" x="2" y="1491" width="574" height="274" frameX="-13" frameY="-13" frameWidth="600" frameHeight="300"/>
    <SubTexture name="info-rotteneggs" x="578" y="1446" width="574" height="274" frameX="-13" frameY="-13" frameWidth="600" frameHeight="300"/>
    <SubTexture name="info-shuffle" x="2" y="1215" width="574" height="274" frameX="-13" frameY="-13" frameWidth="600" frameHeight="300"/>
    <SubTexture name="info-speed" x="1364" y="1229" width="574" height="274" frameX="-13" frameY="-13" frameWidth="600" frameHeight="300"/>
    <SubTexture name="info-time" x="788" y="1170" width="574" height="274" frameX="-13" frameY="-13" frameWidth="600" frameHeight="300"/>
    <SubTexture name="info-xtralife" x="2" y="1767" width="574" height="274" frameX="-13" frameY="-13" frameWidth="600" frameHeight="300"/>
    <SubTexture name="loading" x="964" y="2" width="960" height="640"/>
    <SubTexture name="low" x="1819" y="1133" width="70" height="18"/>
    <SubTexture name="off" x="853" y="695" width="61" height="18"/>
    <SubTexture name="on" x="2004" y="1071" width="40" height="18"/>
    <SubTexture name="pleaseswipeup" x="578" y="1722" width="300" height="100"/>
    <SubTexture name="right-arrow" x="2009" y="766" width="27" height="22" frameX="0" frameY="-3" frameWidth="27" frameHeight="28"/>
    <SubTexture name="settings menu" x="1033" y="644" width="784" height="524" frameX="-13" frameY="-13" frameWidth="810" frameHeight="550"/>
    <SubTexture name="sfx" x="1959" y="1203" width="64" height="18"/>
    <SubTexture name="sound" x="1914" y="1051" width="91" height="18"/>
    <SubTexture name="text-arcade" x="244" y="644" width="215" height="32"/>
    <SubTexture name="text-no" x="2004" y="1091" width="40" height="18"/>
    <SubTexture name="text-purchase" x="801" y="675" width="183" height="18"/>
    <SubTexture name="text-settings" x="2" y="644" width="240" height="32"/>
    <SubTexture name="text-story" x="461" y="644" width="178" height="32"/>
    <SubTexture name="text-yes" x="916" y="695" width="60" height="18"/>
    <SubTexture name="text_arcade mode" x="880" y="1790" width="352" height="29"/>
    <SubTexture name="text_leaderboards" x="641" y="644" width="390" height="29"/>
    <SubTexture name="text_play" x="1914" y="735" width="124" height="29"/>
    <SubTexture name="vfx" x="788" y="695" width="63" height="18"/>
    <SubTexture name="x" x="2021" y="404" width="21" height="18"/>
</TextureAtlas>
