<?xml version="1.0" encoding="UTF-8"?>
<!-- Created with TexturePacker http://texturepacker.com-->
<!-- $TexturePacker:SmartUpdate:c75e4ef8ec8b6c31aec25ea632b47580$ -->
<TextureAtlas imagePath="Menu.png">
    <SubTexture name="Text-BonusTimePlus" x="1609" y="913" width="372" height="63" frameX="0" frameY="0" frameWidth="376" frameHeight="63"/>
    <SubTexture name="Text-Boost" x="1609" y="689" width="431" height="86"/>
    <SubTexture name="Text-Brake" x="1609" y="777" width="405" height="66"/>
    <SubTexture name="Text-ChainTimePlus" x="1609" y="845" width="401" height="66"/>
    <SubTexture name="Text-ExtraEgg" x="1554" y="978" width="361" height="50" frameX="0" frameY="0" frameWidth="363" frameHeight="50"/>
    <SubTexture name="abbca" x="721" y="675" width="78" height="12" frameX="-4" frameY="-67" frameWidth="88" frameHeight="88"/>
    <SubTexture name="abcb" x="1764" y="644" width="66" height="12" frameX="-11" frameY="-67" frameWidth="88" frameHeight="88"/>
    <SubTexture name="acba" x="1757" y="668" width="66" height="12" frameX="-11" frameY="-67" frameWidth="88" frameHeight="88"/>
    <SubTexture name="arcade-background_iphone4" x="2" y="2" width="960" height="640"/>
    <SubTexture name="arrow_reduced" x="1983" y="913" width="51" height="457" frameX="0" frameY="0" frameWidth="63" frameHeight="457"/>
    <SubTexture name="bcaac" x="641" y="675" width="78" height="12" frameX="-4" frameY="-67" frameWidth="88" frameHeight="88"/>
    <SubTexture name="bccb" x="1689" y="675" width="66" height="12" frameX="-11" frameY="-67" frameWidth="88" frameHeight="88"/>
    <SubTexture name="ccbba" x="1609" y="675" width="78" height="12" frameX="-4" frameY="-67" frameWidth="88" frameHeight="88"/>
    <SubTexture name="combo-boost" x="883" y="960" width="93" height="93"/>
    <SubTexture name="combo-brake" x="788" y="960" width="93" height="93"/>
    <SubTexture name="combo-chaintime" x="883" y="865" width="93" height="93"/>
    <SubTexture name="combo-gold" x="788" y="865" width="93" height="93"/>
    <SubTexture name="combo-leveluptime" x="883" y="770" width="93" height="93"/>
    <SubTexture name="combo-rotteneggs" x="788" y="770" width="93" height="93"/>
    <SubTexture name="combo-shuffle" x="896" y="675" width="93" height="93"/>
    <SubTexture name="combo-special" x="801" y="675" width="93" height="93"/>
    <SubTexture name="combo-speed" x="1926" y="594" width="93" height="93"/>
    <SubTexture name="combo-time" x="1926" y="499" width="93" height="93"/>
    <SubTexture name="combo-xtralife" x="1926" y="404" width="93" height="93"/>
    <SubTexture name="combo-xtraspawn" x="788" y="1055" width="88" height="88"/>
    <SubTexture name="combo_abbca" x="1926" y="337" width="105" height="65"/>
    <SubTexture name="combo_abcb" x="1926" y="270" width="105" height="65"/>
    <SubTexture name="combo_acba" x="1926" y="203" width="105" height="65"/>
    <SubTexture name="combo_bcaac" x="1926" y="136" width="105" height="65"/>
    <SubTexture name="combo_bccb" x="1926" y="69" width="105" height="65"/>
    <SubTexture name="combo_ccbba" x="1926" y="2" width="105" height="65"/>
    <SubTexture name="info-arcade" x="2" y="689" width="784" height="524" frameX="-13" frameY="-13" frameWidth="810" frameHeight="550"/>
    <SubTexture name="info-button" x="1908" y="1030" width="66" height="66" frameX="-3" frameY="-2" frameWidth="70" frameHeight="70"/>
    <SubTexture name="info-gold" x="578" y="1372" width="574" height="274" frameX="-13" frameY="-13" frameWidth="600" frameHeight="300"/>
    <SubTexture name="info-rotteneggs" x="2" y="1648" width="574" height="274" frameX="-13" frameY="-13" frameWidth="600" frameHeight="300"/>
    <SubTexture name="info-shuffle" x="2" y="1372" width="574" height="274" frameX="-13" frameY="-13" frameWidth="600" frameHeight="300"/>
    <SubTexture name="info-speed" x="978" y="920" width="574" height="274" frameX="-13" frameY="-13" frameWidth="600" frameHeight="300"/>
    <SubTexture name="info-time" x="1033" y="644" width="574" height="274" frameX="-13" frameY="-13" frameWidth="600" frameHeight="300"/>
    <SubTexture name="info-xtralife" x="578" y="1648" width="574" height="274" frameX="-13" frameY="-13" frameWidth="600" frameHeight="300"/>
    <SubTexture name="loading" x="964" y="2" width="960" height="640"/>
    <SubTexture name="right-arrow" x="1735" y="644" width="27" height="22" frameX="0" frameY="-3" frameWidth="27" frameHeight="28"/>
    <SubTexture name="text-arcade" x="244" y="644" width="215" height="32"/>
    <SubTexture name="text-settings" x="2" y="644" width="240" height="32"/>
    <SubTexture name="text-story" x="461" y="644" width="178" height="32"/>
    <SubTexture name="text_arcade mode" x="1554" y="1030" width="352" height="29"/>
    <SubTexture name="text_leaderboards" x="641" y="644" width="390" height="29"/>
    <SubTexture name="text_play" x="1609" y="644" width="124" height="29"/>
    <SubTexture name="x" x="2021" y="404" width="21" height="18"/>
</TextureAtlas>
